<template>
  <div class="about">
    <h1>Home</h1>
    <h3>This page is under construction. :)</h3>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",

  data: () => ({}),
};
</script>
